// {
//   "plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn"] }] ]
// }

{
  "presets": ["next/babel"],
  "env": {
    "production": {
      // "plugins": ["transform-remove-console"]
      "plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn"] }] ]
    }
  }
}
